<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Завдання: {{ task.title }}</h2>
<a href="{% url 'board_detail' task.board.id %}">Назад до дошки</a> |
<a href="{% url 'task_edit' task.id %}">Редагувати завдання та змінити статус</a>

<p>Статус: {{ task.get_status_display }}</p>
<p>Опис: {{ task.description }}</p>
{% if task.image %}
    <img src="{{ task.image.url }}" alt="Фото завдання" width="300">
{% endif %}

<h3>Коментарі</h3>
<ul>
    {% for comment in comments %}
        <li><b>{{ comment.author.username }}:</b> {{ comment.text }}</li>
    {% endfor %}
</ul>

<h4>Додати коментар</h4>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Відправити</button>
</form>
</body>
</html>